.flex{
    display: flex;
}
.flexItem{
    align-items:space-around;
}
.cardRow{
    padding-top: 5vw;
    padding-left: 2vw;
}
.TopIcon{
    position: absolute;
    top:1vh;
    left: 1vw;
    width: 8vw;
    height: 9vw;
    z-index: 100000;
}