h1{
    font-size: 1.8vw;
    color: #070707;
    padding: 30px;
}
.chartPage{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}
.para{
    padding: 2vh;
    font-size: 3vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: darkcyan;
}